# Ignore these files when creating a release package.
/tests export-ignore
/bin export-ignore
/resources export-ignore
/.github export-ignore
/.githooks export-ignore
/node_modules export-ignore
/vendor export-ignore
/.git export-ignore

# Ignore project-specific and local development configuration from exports.
/wpmoo-config export-ignore
/starter-files.json export-ignore

# Ignore common IDE and OS files.
/.idea export-ignore
/.vscode export-ignore
.editorconfig export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.phpunit.result.cache export-ignore
.prettierrc.json export-ignore
.stylelintrc.json export-ignore
.DS_Store export-ignore
CODE_OF_CONDUCT.md export-ignore
gulpfile.js export-ignore
package.json export-ignore
package-lock.json export-ignore
composer.lock export-ignore
phpcs.xml export-ignore
phpstan.neon.dist export-ignore
phpstan-bootstrap.php export-ignore
phpunit.xml.dist export-ignore
release-please-config.json export-ignore
release-please-manifest.json export-ignore
moo export-ignore
composer.json export-ignore
README.md export-ignore
/.DS_Store export-ignore
